.arabicCourseContainer {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    margin: 2%;
    padding: 0 5%;
}

.arabicCourseImageContainer {
    width: 100%;
    position: relative;
}

.arabicCourseImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}